<p id="notice"><%= notice %></p>

<p>
  <b>Idviaje:</b>
  <%= @asiento.idViaje %>
</p>

<p>
  <b>Idusuario:</b>
  <%= @asiento.idUsuario %>
</p>


<%= link_to 'Edit', edit_asiento_path(@asiento) %> |
<%= link_to 'Back', asientos_path %>
