<%= form_for(@programa) do |f| %>
  <% if @programa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@programa.errors.count, "error") %> prohibited this programa from being saved:</h2>

      <ul>
      <% @programa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :idAgenda %><br />
    <%= f.number_field :idAgenda %>
  </div>
  <div class="field">
    <%= f.label :fInicio %><br />
    <%= f.date_select :fInicio %>
  </div>
  <div class="field">
    <%= f.label :fFin %><br />
    <%= f.date_select :fFin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
