<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @departamento.nombre %>
</p>

<p>
  <b>Habitantes:</b>
  <%= @departamento.habitantes %>
</p>


<%= link_to 'Edit', edit_departamento_path(@departamento) %> |
<%= link_to 'Back', departamentos_path %>
