<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @vehiculo.nombre %>
</p>

<p>
  <b>Puertas:</b>
  <%= @vehiculo.puertas %>
</p>

<p>
  <b>Color:</b>
  <%= @vehiculo.color %>
</p>

<p>
  <b>Idmodelo:</b>
  <%= @vehiculo.idModelo %>
</p>

<p>
  <b>Maxpasajeros:</b>
  <%= @vehiculo.maxPasajeros %>
</p>

<p>
  <b>Idseguro:</b>
  <%= @vehiculo.idSeguro %>
</p>

<p>
  <b>Idauxilio:</b>
  <%= @vehiculo.idAuxilio %>
</p>

<p>
  <b>Idauxilio:</b>
  <%= @vehiculo.idAuxilio %>
</p>

<p>
  <b>Idauxilio:</b>
  <%= @vehiculo.idAuxilio %>
</p>


<%= link_to 'Edit', edit_vehiculo_path(@vehiculo) %> |
<%= link_to 'Back', vehiculos_path %>
