<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @auxilio.nombre %>
</p>

<p>
  <b>Logo:</b>
  <%= @auxilio.logo %>
</p>


<%= link_to 'Edit', edit_auxilio_path(@auxilio) %> |
<%= link_to 'Back', auxilios_path %>
