<p id="notice"><%= notice %></p>

<p>
  <b>Idusuario:</b>
  <%= @viaje.idUsuario %>
</p>

<p>
  <b>Idciudadorigen:</b>
  <%= @viaje.idCiudadOrigen %>
</p>

<p>
  <b>Idciudaddestino:</b>
  <%= @viaje.idCiudadDestino %>
</p>

<p>
  <b>Idestado:</b>
  <%= @viaje.idEstado %>
</p>

<p>
  <b>Equipaje:</b>
  <%= @viaje.equipaje %>
</p>

<p>
  <b>Animales:</b>
  <%= @viaje.animales %>
</p>

<p>
  <b>Kms:</b>
  <%= @viaje.kms %>
</p>

<p>
  <b>Pasaje:</b>
  <%= @viaje.pasaje %>
</p>

<p>
  <b>Peajes:</b>
  <%= @viaje.peajes %>
</p>

<p>
  <b>Fsalida:</b>
  <%= @viaje.fSalida %>
</p>

<p>
  <b>Fllegada:</b>
  <%= @viaje.fLlegada %>
</p>

<p>
  <b>Paradas:</b>
  <%= @viaje.paradas %>
</p>


<%= link_to 'Edit', edit_viaje_path(@viaje) %> |
<%= link_to 'Back', viajes_path %>
