<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @agenda.nombre %>
</p>

<p>
  <b>Publica:</b>
  <%= @agenda.publica %>
</p>

<p>
  <b>Idusuario:</b>
  <%= @agenda.idUsuario %>
</p>


<%= link_to 'Edit', edit_agenda_path(@agenda) %> |
<%= link_to 'Back', agendas_path %>
