<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Idusuario</th>
    <th>Idviaje</th>
    <th>Idasiento</th>
    <th>Asunto</th>
    <th>Desc</th>
    <th>Puntaje</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.idUsuario %></td>
    <td><%= review.idViaje %></td>
    <td><%= review.idAsiento %></td>
    <td><%= review.asunto %></td>
    <td><%= review.desc %></td>
    <td><%= review.puntaje %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_review_path %>
