<p id="notice"><%= notice %></p>

<p>
  <b>Idusuario:</b>
  <%= @review.idUsuario %>
</p>

<p>
  <b>Idviaje:</b>
  <%= @review.idViaje %>
</p>

<p>
  <b>Idasiento:</b>
  <%= @review.idAsiento %>
</p>

<p>
  <b>Asunto:</b>
  <%= @review.asunto %>
</p>

<p>
  <b>Desc:</b>
  <%= @review.desc %>
</p>

<p>
  <b>Puntaje:</b>
  <%= @review.puntaje %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
